/* ------------------------------------------------------------------
Project: Semantic
Place here your custom CSS styles
------------------------------------------------------------------ */
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
	color: #eaeaea;
}
.yellow {color:#FBBA00;}

#home .caption-content {text-align: left;}
#home .caption-content .font-alt {text-transform: none !important;}

.btn.btn-y {
	background: #FBBA00;
	color: black;
}

.dark-section {
	background: rgba(0,0,0,0.9);
	color: white;
}

.dark-section p, .dark-section h2, .dark-section-80 p, .dark-section-80 h2, .dark-section-80 blockquote {
	color: white;
}

.dark-section-80 {
	background: rgba(0,0,0,0.80);
	color: white;
}

.dark-section-10 {
	background: rgba(0,0,0,0.10);
}

.dark-section-5 {
	background: rgba(0,0,0,0.05);
}

.process-block {
	vertical-align: top;
	min-height: 300px;
	}

.team-item {
	min-height:200px;
}

#category_list {
	height:400px;
}