# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^([^\.]+)$ $1.php [NC,L]

<IfModule mod_rewrite.c>  
    RewriteEngine on 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.php -f 
    RewriteRule ^(.+)$ $1.php [L,QSA] 
    RewriteRule ^blog/([a-zA-Z0-9-/]+)$ /blog/post.php?s=$1 [L]
    RewriteRule ^blog/category/([a-zA-Z0-9-/]+)/page/([0-9]+)/{0,1}$ /blog/archive.php?cat=$1&page=$2 [L]
    RewriteRule ^blog/category/([a-zA-Z0-9-/]+)$ /blog/archive.php?cat=$1 [L]

    RewriteRule ^blog/date/([a-zA-Z0-9-/]+)/page/([0-9]+)/{0,1}$ /blog/archive.php?year=$1&page=$2 [L]
    RewriteRule ^blog/date/([a-zA-Z0-9-/]+)$ /blog/archive.php?year=$1 [L]

    RewriteRule ^blog/tag/([a-zA-Z0-9-/]+)/page/([0-9]+)/{0,1}$ /blog/archive.php?tag=$1&page=$2 [L]
    RewriteRule ^blog/tag/([a-zA-Z0-9-/]+)$ /blog/archive.php?tag=$1 [L]
    
    RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
    
</IfModule>

<FilesMatch "\.(js)$">
Header set Cache-Control "proxy-revalidate, max-age=160704000"
</FilesMatch>

<FilesMatch "\.(jpg|css|gif|png)$">
Header set Cache-Control "proxy-revalidate, max-age=36288000"
</FilesMatch>

<FilesMatch "\.(https://s3-eu-west-1.amazonaws.com/share.typeform.com/share.js)$">
Header set Cache-Control "proxy-revalidate, max-age=964224000"
</FilesMatch>

####################
# GZIP COMPRESSION #
####################
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/x-httpd-php
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
Header append Vary User-Agent env=!dont-vary

###############
# ERROR PAGES #
###############
ErrorDocument 404     /404.php

#################
# 301 REDIRECTS #
#################

# 301 --- http://www.creativitea.co.uk/portfolio/buyapowa-responsive-website => http://www.creativitea.co.uk/portfolio/buyapowa_saas
Redirect 301 /portfolio/buyapowa-responsive-website http://www.creativitea.co.uk/portfolio/buyapowa_saas

# 301 --- http://www.creativitea.co.uk/portfolio/gents-pack-identity-design => http://www.creativitea.co.uk/portfolio/gentspack
Redirect 301 /portfolio/gents-pack-identity-design http://www.creativitea.co.uk/portfolio/gentspack

# 301 --- http://www.creativitea.co.uk/portfolio/nike-rx-eyewear-collection => http://www.creativitea.co.uk/portfolio/nikerx
Redirect 301 /portfolio/nike-rx-eyewear-collection http://www.creativitea.co.uk/portfolio/nikerx

# 301 --- http://www.creativitea.co.uk/portfolio/river-identity-design => http://www.creativitea.co.uk/portfolio/river
Redirect 301 /portfolio/river-identity-design http://www.creativitea.co.uk/portfolio/river

# 301 --- http://www.creativitea.co.uk/portfolio/new-restaurant-website => http://www.creativitea.co.uk/portfolio/tantemarie-restaurant
Redirect 301 /portfolio/new-restaurant-website http://www.creativitea.co.uk/portfolio/tantemarie-restaurant

# 301 --- http://www.creativitea.co.uk/portfolio/tante-marie-brand-guidelines => http://www.creativitea.co.uk/portfolio/tantemarie-brand
Redirect 301 /portfolio/tante-marie-brand-guidelines http://www.creativitea.co.uk/portfolio/tantemarie-brand

# 301 --- http://www.creativitea.co.uk/portfolio/sizeme-nutrition-identity => http://www.creativitea.co.uk/portfolio/sizeme-branding
Redirect 301 /portfolio/sizeme-nutrition-identity http://www.creativitea.co.uk/portfolio/sizeme-branding

# 301 --- http://www.creativitea.co.uk/portfolio/fivethree-branding => http://www.creativitea.co.uk/portfolio/fivethree
Redirect 301 /portfolio/fivethree-branding http://www.creativitea.co.uk/portfolio/fivethree

# 301 --- http://www.creativitea.co.uk/portfolio/maxitone-tour => http://www.creativitea.co.uk/portfolio/maxishop
Redirect 301 /portfolio/maxitone-tour http://www.creativitea.co.uk/portfolio/maxishop

# 301 --- http://www.creativitea.co.uk/portfolio/s4nity-s4-ident => http://www.creativitea.co.uk/portfolio/s4nity-ident
Redirect 301 /portfolio/s4nity-s4-ident http://www.creativitea.co.uk/portfolio/s4nity-ident

# 301 --- http://www.creativitea.co.uk/portfolio/eon-strategy-redefined => http://www.creativitea.co.uk/portfolio/trion-worlds-end-of-nations
Redirect 301 /portfolio/eon-strategy-redefined http://www.creativitea.co.uk/portfolio/trion-worlds-end-of-nations

# 301 --- http://www.creativitea.co.uk/portfolio/artisanpouch-packaging-design => http://www.creativitea.co.uk/portfolio/mediadevil
Redirect 301 /portfolio/artisanpouch-packaging-design http://www.creativitea.co.uk/portfolio/mediadevil

# 301 --- http://www.creativitea.co.uk/blog/logo-or-marque-difference => http://www.creativitea.co.uk/blog/logo-or-marque-the-difference
Redirect 301 /blog/logo-or-marque-difference http://www.creativitea.co.uk/blog/logo-or-marque-the-difference

# 301 --- http://www.creativitea.co.uk/blog/importance-getting-brand => http://www.creativitea.co.uk/blog/the-importance-of-getting-brand
Redirect 301 /blog/importance-getting-brand http://www.creativitea.co.uk/blog/the-importance-of-getting-brand

# 301 --- http://www.creativitea.co.uk/blog/why-have-a-brand-mascot => http://www.creativitea.co.uk/blog/why-have-a-brand-mascot
Redirect 301 /blog/why-have-a-brand-mascot http://www.creativitea.co.uk/blog/why-have-a-brand-mascot

# 301 --- http://www.creativitea.co.uk/blog/swanderful-surprise-sorry => http://www.creativitea.co.uk/blog/a-swanderful-surprise-sorry
Redirect 301 /blog/swanderful-surprise-sorry http://www.creativitea.co.uk/blog/a-swanderful-surprise-sorry

# 301 --- http://www.creativitea.co.uk/blog/websites-win-design-awards => http://www.creativitea.co.uk/blog/websites-win-design-awards
Redirect 301 /blog/websites-win-design-awards http://www.creativitea.co.uk/blog/websites-win-design-awards

# 301 --- http://www.creativitea.co.uk/blog/omni-channel-shoppers => http://www.creativitea.co.uk/blog/omni-channel-shoppers
Redirect 301 /blog/omni-channel-shoppers http://www.creativitea.co.uk/blog/omni-channel-shoppers

# 301 --- http://www.creativitea.co.uk/blog/toast-surrey-awards-2013 => http://www.creativitea.co.uk/blog/toast-of-surrey-awards-2013
Redirect 301 /blog/toast-surrey-awards-2013 http://www.creativitea.co.uk/blog/toast-of-surrey-awards-2013

# 301 --- http://www.creativitea.co.uk/blog/40th-anniversary-ceefax => http://www.creativitea.co.uk/blog/the-40th-anniversary-of-ceefax
Redirect 301 /blog/40th-anniversary-ceefax http://www.creativitea.co.uk/blog/the-40th-anniversary-of-ceefax

# 301 --- http://www.creativitea.co.uk/blog/introducing-new-talkmobile-e-commerce-website => http://www.creativitea.co.uk/blog/talkmobiles-responsive-ux
Redirect 301 /blog/introducing-new-talkmobile-e-commerce-website http://www.creativitea.co.uk/blog/talkmobiles-responsive-ux

# 301 --- http://www.creativitea.co.uk/blog/tribute-robin-williams => http://www.creativitea.co.uk/blog/a-tribute-to-robin-williams
Redirect 301 /blog/tribute-robin-williams http://www.creativitea.co.uk/blog/a-tribute-to-robin-williams

# 301 --- http://www.creativitea.co.uk/blog/joining_the_dba => http://www.creativitea.co.uk/blog/why-we-joined-the-dba
Redirect 301 /blog/joining_the_dba http://www.creativitea.co.uk/blog/why-we-joined-the-dba

# 301 --- http://www.creativitea.co.uk/blog/stanley-film-festival-logo => http://www.creativitea.co.uk/blog/the-stanley-film-festival-logo
Redirect 301 /blog/stanley-film-festival-logo http://www.creativitea.co.uk/blog/the-stanley-film-festival-logo

# 301 --- http://www.creativitea.co.uk/blog/adidas-pop-store-london => http://www.creativitea.co.uk/blog/adidas-pop-up-store-london
Redirect 301 /blog/adidas-pop-store-london http://www.creativitea.co.uk/blog/adidas-pop-up-store-london

# 301 --- http://www.creativitea.co.uk/blog/carry-fire => http://www.creativitea.co.uk/blog/carry-the-fire
Redirect 301 /blog/carry-fire http://www.creativitea.co.uk/blog/carry-the-fire

# 301 --- http://www.creativitea.co.uk/blog/do-lectures-13 => http://www.creativitea.co.uk/blog/do-lectures
Redirect 301 /blog/do-lectures-13 http://www.creativitea.co.uk/blog/do-lectures

# 301 --- http://www.creativitea.co.uk/blog/toast-surrey-awards-2013 => http://www.creativitea.co.uk/blog/surrey-advertiser-toast-of-surrey-awards
Redirect 301 /blog/toast-surrey-awards-2013 http://www.creativitea.co.uk/blog/surrey-advertiser-toast-of-surrey-awards

# 301 --- http://www.creativitea.co.uk/press/creative-directors-view-effective-brand-communication => http://www.creativitea.co.uk/blog/computer-arts-the-creative-directors-view
Redirect 301 /press/creative-directors-view-effective-brand-communication http://www.creativitea.co.uk/blog/computer-arts-the-creative-directors-view

# 301 --- http://www.creativitea.co.uk/press/art-responsive-design => http://www.creativitea.co.uk/blog/web-designer-magazine
Redirect 301 /press/art-responsive-design http://www.creativitea.co.uk/blog/web-designer-magazine

# 301 --- http://www.creativitea.co.uk/press/s4nity => http://www.creativitea.co.uk/blog/international-brand-design-magazine
Redirect 301 /press/s4nity http://www.creativitea.co.uk/blog/international-brand-design-magazine

# 301 --- http://www.creativitea.co.uk/press/award-winning-designs-guildford-company => http://www.creativitea.co.uk/blog/surrey-advertiser-a-awards-ceremony
Redirect 301 /press/award-winning-designs-guildford-company http://www.creativitea.co.uk/blog/surrey-advertiser-a-awards-ceremony

# 301 --- http://www.creativitea.co.uk/press/interview-rik-barwick-creativitea => http://www.creativitea.co.uk/blog/creative-boom
Redirect 301 /press/interview-rik-barwick-creativitea http://www.creativitea.co.uk/blog/creative-boom

# 301 --- http://www.creativitea.co.uk/press/creativitea-wins-two-prestigious-international-design-awards => http://www.creativitea.co.uk/blog/prweb
Redirect 301 /press/creativitea-wins-two-prestigious-international-design-awards http://www.creativitea.co.uk/blog/prweb

# 301 --- http://www.creativitea.co.uk/press/creativitea-leading-design-agency-wins-two-design-awards => http://www.creativitea.co.uk/blog/adesign-award-winners-2011-12
Redirect 301 /press/creativitea-leading-design-agency-wins-two-design-awards http://www.creativitea.co.uk/blog/adesign-award-winners-2011-12

# 301 --- http://www.creativitea.co.uk/press/creativitea-adds-handwritten-touch-and-simplicity-talkmobile-brand => http://www.creativitea.co.uk/blog/design-week-volume-26-number-21
Redirect 301 /press/creativitea-adds-handwritten-touch-and-simplicity-talkmobile-brand http://www.creativitea.co.uk/blog/design-week-volume-26-number-21

# 301 --- http://www.creativitea.co.uk/press/creativitea-creates-natterjacks-website => http://www.creativitea.co.uk/blog/design-week-online
Redirect 301 /press/creativitea-creates-natterjacks-website http://www.creativitea.co.uk/blog/design-week-online

# 301 --- http://www.creativitea.co.uk/press/creativitea-‘here-help’-cpp-emphasise-consumer-message => http://www.creativitea.co.uk/blog/design-week-volume-26-number-23
Redirect 301 /press/creativitea-‘here-help’-cpp-emphasise-consumer-message http://www.creativitea.co.uk/blog/design-week-volume-26-number-23

# 301 --- http://www.creativitea.co.uk/what-we-do-integrated-design-service => http://www.creativitea.co.uk/branding
Redirect 301 /what-we-do-integrated-design-service http://www.creativitea.co.uk/branding
